.wp-block-create-block-demo-event-calendar div input {
	width: 100%;
	padding: 10px 5px;
	margin: 5px 0px;
}

.wp-block-create-block-demo-event-calendar div h5 {
	margin: 25px 0 10px 0;
}

.components-input-control__input {
	background-color: aqua;
}
